IDI_ICON1 ICON "yachie.ico"
1 VERSIONINFO
FILEVERSION     1,0,2,0
PRODUCTVERSION  1,0,2,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "William Lord"
      VALUE "FileDescription", "Chip-8 Emulator"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "yachie"
      VALUE "LegalCopyright", "William Lord"
      VALUE "OriginalFilename", "yachie.exe"
      VALUE "ProductName", "Yachie"
      VALUE "ProductVersion", "1.0.2"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
